mixin form(buttonText)
  p
    label(for="title") Title:
    input(type="text", name="title" value=book.title)
  p
    label(for="author") Author:
    input(type="text", name="author" value=book.author)
  p
    label(for="body") Genre:
    input(type="text", name="genre" value=book.genre)
  p
    label(for="body") Year:
    input(type="text", name="year" value=book.year)
  p
    input(href= '/' type='submit' value= `${buttonText}`)
  p
    a.button(href='/') Cancel

